@import '../../scss/variables.scss';

.footer {
    height: 60vh;
    background-color: $text-color;
    color: $background-color;
    padding: $x-spacing;
    display: flex;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    img {
        height: 120px;
        width: 95px;
    }
}

.footerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.decoration {
    position: absolute;
    right: 0;
    opacity: 0.8;

    img {
        rotate: 270deg !important;
        height: 250px;
    }
}
