@import '../../../scss/variables.scss';

.ourServices {
    height: 100vh;
    
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-family: $font-oswald;
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
    }
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}
